In [ ]:
import pandas as pd
#import pandas_datareader as dr
import numpy as np
import warnings
import matplotlib.pyplot as plt

In [61]:
""" ### Reading in AAPL stock data and cleaning ###
aapl = pd.read_csv("data/AAPL_1min_sample cleaned.txt", names = ["Time", "Open", "High", "Low", "Close", "Volume"])
aapl.insert(0, 'Day', pd.to_datetime(aapl['Time']).dt.date)
aapl.insert(1, 'Hour', pd.to_datetime(aapl['Time']).dt.time)
aapl = aapl.set_index(pd.to_datetime(aapl['Day'], format='%Y-%m-%d')).drop(['Time', 'Day'], axis=1)
#.set_index('Day') 
aapl """

DatetimeIndex(['2021-08-02', '2021-08-02', '2021-08-02', '2021-08-02',
               '2021-08-02', '2021-08-02', '2021-08-02', '2021-08-02',
               '2021-08-02', '2021-08-02',
               ...
               '2021-08-12', '2021-08-12', '2021-08-12', '2021-08-12',
               '2021-08-12', '2021-08-12', '2021-08-12', '2021-08-12',
               '2021-08-12', '2021-08-12'],
              dtype='datetime64[ns]', name='Day', length=4050, freq=None)

In [57]:
aapl = pd.read_csv("data/AAPL_1min_sample cleaned.txt", names = ["Time", "Open", "High", "Low", "Close", "Volume"])
aapl.insert(0, 'Day', pd.to_datetime(aapl['Time']).dt.date)
aapl.insert(1, 'Hour', pd.to_datetime(aapl['Time']).dt.time)
#.set_index('Day') 
aapl

,Day,Hour,Time,Open,High,Low,Close,Volume
0,2021-08-02,09:00:00,2021-08-02 09:00:00,146.3607,146.4606,146.3607,146.4606,6475
1,2021-08-02,09:01:00,2021-08-02 09:01:00,146.4506,146.5404,146.4007,146.5005,20827
2,2021-08-02,09:02:00,2021-08-02 09:02:00,146.5005,146.5305,146.4805,146.5305,4227
3,2021-08-02,09:03:00,2021-08-02 09:03:00,146.5404,146.5604,146.5105,146.5205,3198
4,2021-08-02,09:04:00,2021-08-02 09:04:00,146.5205,146.5604,146.5205,146.5604,3503
...,...,...,...,...,...,...,...,...
4045,2021-08-12,15:55:00,2021-08-12 15:55:00,148.9500,149.0000,148.9500,148.9715,680020
4046,2021-08-12,15:56:00,2021-08-12 15:56:00,148.9800,149.0300,148.9700,149.0100,476187
4047,2021-08-12,15:57:00,2021-08-12 15:57:00,149.0100,149.0500,149.0000,149.0450,404333
4048,2021-08-12,15:58:00,2021-08-12 15:58:00,149.0450,149.0500,148.9300,148.9800,527596
4049,2021-08-12,15:59:00,2021-08-12 15:59:00,148.9800,149.0050,148.8600,148.8850,697022

In [ ]:
aapl_days = []
for i in aapl.index.unique():
    aapl_days.append(aapl.loc[i])

In [ ]:
aapl.index

In [ ]:
""" aapl = pd.read_csv("data/AAPL_1min_sample cleaned.txt", names = ["Time", "Open", "High", "Low", "Close", "Volume"])
aapl.insert(0, 'Day', pd.to_datetime(aapl['Time']).dt.date)
aapl.set_index(pd.to_datetime(aapl['Day'], format='%Y-%m-%d'), inplace=True)
aapl """

In [ ]:
""" aapl = pd.read_csv("data/AAPL_1min_sample cleaned.txt", names = ["Time", "Open", "High", "Low", "Close", "Volume"])
aapl.set_index(pd.to_datetime(aapl['Time'], format='%Y-%m-%d %H:%M:%S'), inplace=True)
aapl """